.Card {
  width: 21%;
  height: auto;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* .containerTeam {
  width: 80%;
} */
.stripedCard {
  width: 10%;
  height: auto;
  background-color: rgb(212, 228, 233);
}
.projectTitle {
  font-weight: bold;
  font-size: 16px;
}
.projectShortcut {
  font-size: 16px;
  color: var(--grey2);
}
.Icons {
  position: relative;
  left: -5%;
  top: 10px;
  /* background-color: red; */
}
.containerTeam {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.containerTeam a {
  text-decoration: none;
  color: black;
}
