.modal-dialog {
    max-width: 80%;
}

a {
    cursor: pointer;
}

.modal-title {
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.title p {
    font-size: 14px;
    margin-top: 20px;
    color: #80848D;
}

.btn-download {
    margin-right: 20px;
    background: transparent;
    border: 0;
    width: 25px;
}

.btn-share {
    margin-right: 20px;
    background: transparent;
    border: 0;
    width: 18px;
}

.input-title {
    width: 100%;
}

.dropdown-button {
    margin-top: 5px;
}

.description-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.input-description {
    width: 100%;
    margin-bottom: 5px;
}

.btn-description {
    align-items: flex-end;
    border-radius: 80px;
    width: 100px;
    height: 40px;
    margin: 10px;
    color: #4859EF;
    font-size: 14px;

}

.cancel {
    margin-left: 66%;
}

.btn-description:hover {
    color: white;
    background-color: #4859EF;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-title{
    margin-top: 40px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.image-profile {
    width: 35px;
}

.input-comment {
    width: 93%;
}

.comment-wrapper {
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    align-items: baseline;
}

.name-profile {
    font-weight: bold;
    font-size: 14px;
}

.date-comment {
    font-size: 9px;
}

.this-comment {
    margin-left: 55px;
    font-size: 13px;
}

.dropdown-toggle {
    font-size: 12px;
    padding: 9px;
    margin-top: -5px;
}

.assign-member {
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    margin-top: 45px;
    align-items: center;
}

.assign-member p {
    font-weight: bold;
    font-size: 14px;
    align-items: center;
}

.add-priority {
    display: flex;
    justify-content:flex-start;
    gap: 35px;
    margin-top: 30px;
}

.add-priority p {
    font-weight: bold;
    font-size: 14px;
}

.add-date {
    display: flex;
    justify-content:flex-start;
    gap: 25px;
    margin-top: 30px;
}

.add-date p {
    font-weight: bold;
    font-size: 14px;
}

.add-labels {
    display: flex;
    justify-content:flex-start;
    gap: 50px;
    margin-top: 30px;
}

.add-labels p {
    font-weight: bold;
    font-size: 14px;
}