.sidebar {
  width: 282px;
  height: 938px;
  background-color: lightgrey;
}
.listSidebar {
  list-style-type: none;
  display: flex;
  gap: 12px;
  width: 80%;
  padding: 3px;
  border-radius: 3px;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.listSidebar:hover {
  background-color: rgb(156, 156, 156);
  cursor: pointer;
}

.unListSidebar {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.line {
  margin: auto;
  height: 1px;
  width: 80%;
  background-color: #555;
  margin-top: 32px;
  margin-bottom: 32px;
  /* text-align: center; */
}
.team-sidebar {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.btn-iconSidebar {
  position: relative;
  top: 75px;
  left: 262px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4859ef;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  /* display: inline-block; */
  text-decoration: none;
  cursor: pointer;
}
.team-section {
  margin: auto;
  padding-top: 20px;
}
.team-section ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-section ul li a {
  text-decoration: none;
}
